<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data[1] }}</title>
</head>
<body>
    <h1>{{ data[1] }}</h1>
    <br>
    <ul>
        {% for player in data[0] %}
        
            <li>
                {{ player["name"] }}, 
                {{ player["last_name"] }}, 
                {{ player["birth_date"] }}
            </li>
            </br>
        
        {% endfor %}
    </ul>
</body>
</html>
